!!! 5
%html{lang: I18n.locale, dir: t("i18n.dir")}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    = csrf_meta_tags
    = title_tag
    = vite_react_refresh_tag
    = vite_client_tag
    = vite_javascript_tag "application", crossorigin: "anonymous"
  %body{style: "margin:0;background:var(--color-bg,#F7F3EE)"}
    = yield
